<!-- encabezado principal minimalista -->
<header class="flex items-center justify-between p-6 border-b border-gray-300 bg-white">
  <h1 class="text-xl font-bold tracking-widest text-gray-800">
    DLARRIVA
  </h1>
  <nav class="flex gap-4 items-center text-sm">
    <a routerLink="/" routerLinkActive="text-black font-bold" [routerLinkActiveOptions]="{ exact: true }" class="text-gray-500 hover:text-black transition-colors">
      inicio
    </a>

    <a routerLink="/" fragment="proyectos" class="text-gray-500 hover:text-black transition-colors">
      proyectos
    </a>

    <a routerLink="/" fragment="servicios" class="text-gray-500 hover:text-black transition-colors">
      servicios
    </a>

    @if (authService.currentUser()) {
      
      <!-- mostramos contacto solo si no es el administrador -->
      @if (!esProgramador()) {
        <a routerLink="/contacto" routerLinkActive="text-black font-bold" class="text-gray-500 hover:text-black transition-colors">
          contacto
        </a>
      }
      
      <a routerLink="/dashboard" routerLinkActive="text-black font-bold" class="text-gray-500 hover:text-black transition-colors">
        panel
      </a>
      <button (click)="cerrarSesion()" class="text-gray-500 hover:text-black transition-colors cursor-pointer">
        salir
      </button>

    } @else {
      <a routerLink="/auth" routerLinkActive="text-black font-bold" class="text-gray-500 hover:text-black transition-colors">
        acceder
      </a>
    }
  </nav>
</header>