<!-- encabezado principal minimalista -->
<header class="flex items-center justify-between p-6 border-b border-gray-300 bg-white">
  <!-- el logo ahora es un enlace que lleva al inicio -->
  <a routerLink="/" class="text-xl font-bold tracking-widest text-gray-800 hover:text-black transition-colors">
    DLARRIVA
  </a>
  <nav class="flex gap-4 items-center text-sm">
    <a routerLink="/" routerLinkActive="text-black font-bold" [routerLinkActiveOptions]="{ exact: true }" class="text-gray-500 hover:text-black transition-colors">
      Inicio
    </a>

    <a routerLink="/" fragment="proyectos" class="text-gray-500 hover:text-black transition-colors">
      Proyectos
    </a>

    <a routerLink="/" fragment="servicios" class="text-gray-500 hover:text-black transition-colors">
      Servicios
    </a>

    @if (authService.currentUser()) {

      <!-- mostramos contacto solo si no es el administrador -->
      @if (!esProgramador()) {
        <a routerLink="/contacto" routerLinkActive="text-black font-bold" class="text-gray-500 hover:text-black transition-colors">
          Contacto
        </a>
      }

      <a routerLink="/dashboard" routerLinkActive="text-black font-bold" class="text-gray-500 hover:text-black transition-colors">
        Panel
      </a>
      <button (click)="cerrarSesion()" class="text-gray-500 hover:text-black transition-colors cursor-pointer">
        Salir
      </button>

    } @else {
      <a routerLink="/auth" routerLinkActive="text-black font-bold" class="text-gray-500 hover:text-black transition-colors">
        Acceder
      </a>
    }
  </nav>
</header>
